<div class="container">
  <h2>ユーザーログイン画面</h2>
  <%= flash[:error] %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-12 my-2">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="col-12 my-2">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="col-12 my-2">
        <%= f.submit "ログイン" %>
      </div>
    </div>
  <% end %>

  <p>
    登録がお済みでない方は<%= link_to 'コチラ', new_user_registration_path %>から
  </p>
</div>