  <div class="container">
    <h1>レシピ詳細</h1>
    <div class="row">

      <div class="col-xs-12 col-lg-6">
        <p class="recipe_title"><%= @recipe.name %></p>

        <div class="recipe_image">
          <%= attachment_image_tag(@recipe, :image, fallback: "no_image.jpg") %>
        </div>
        <div class="recipe_option">
          <div class="recipe_favorite">
            <% if @recipe.favorited_by?(current_user) %>
                <%= link_to recipe_favorites_path(@recipe.id), method: :delete do %>
                  ♥<%= @recipe.favorites.count %>いいね
                <% end %>
            <% else %>
                <%= link_to recipe_favorites_path(@recipe.id), method: :post do %>
                  ♡<%= @recipe.favorites.count %>いいね
                <% end %>
            <% end %>
          </div>
          <div class="recipe_option_button">
            <%= link_to edit_recipe_path(@recipe.id) do %>
              <button type="button" class="btn btn-success">編集する</button>
            <% end %>
            <%= link_to recipe_path(@recipe.id), method: :delete do %>
              <button type="button" class="btn btn-danger">削除する</button>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-lg-6">
        <div class="use_food">
          <p>必要材料</p>
          <%= simple_format(@recipe.ingredients) %>
        </div>
        <div class="recipe_point">
          <p>調理ポイント</p>
          <p><%= simple_format(@recipe.introduction) %></p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="making_box">
            <% if @making.count == 0 %>
              <%=link_to new_recipe_makings_path(@recipe.id) do %>
                <button type="button" class="btn btn-success">調理手順を登録する</button>
              <% end %>
            <% else %>
              <%=link_to new_recipe_makings_path(@recipe.id) do %>
                <button type="button" class="btn btn-success">調理手順を追加する</button>
              <% end %>
            　<% @making.each do |making| %>
                <div class="making_image_box">
                  <%= attachment_image_tag(making, :image, size: "140x90") %>
                </div>
                <div class="making_process_box">
                  <%= making.process %>
                </div>
            　<% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="new_revew">
      <%= form_with(model:[@recipe, @review], url:recipe_reviews_path(@recipe.id), local:true) do |f| %>
        <%= f.label :"レビュー" %>
        <div id="evaluate_stars"></div>
        <%= f.text_field :comment %>
        <%= f.submit 'レビュー投稿', class: "btn btn-success" %>
      <% end %>
    </div>

    <div class="reviews">
      <p>レビュー数：<%= @recipe.reviews.count %></p>
      <% @recipe.reviews.each do |review| %>
        <%= review.rate %>
        <%= review.comment %>
      <% end %>
    </div>
  </div>


  <script>
    $('#evaluate_stars').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: "review[rate]",
      half: true,
    });
  </script>