<div class="container">
  <h1>問い合わせ一覧</h1>
  <%= link_to new_contact_path do %>
    <button type="button" class="btn btn-success">新規お問い合わせ</button>
  <% end %>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>問い合わせ内容</th>
        <th>タイトル</th>
        <th>お問い合わせ状況</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td>
            <%= contact.user.nickname %>
          </td>
          <td><%= contact.category %></td>
          <td>
            <%= link_to contact_path(contact.id) do %>
              <%= contact.title %>
            <% end %>
          </td>
          <td>
            <%= contact.status %>
          </td>
        </tr>
      <% end %>
  </div>
</div>