<div class="container">
  <h1>お問い合わせ返信</h1>
  <div class="row">
    <%= form_with model: @contact, url: admins_contact_path, local: true do |f| %>
      <div class="col-12 my-3">
        <%= f.label :"申請の許可" %><br>
        <%= f.radio_button :is_permit, :true %>
        <span>許可する</span>
        &nbsp;&nbsp;
        <%= f.radio_button :is_permit, :false %>
        <span>否認する</span>
      </div>
      <div class="col-12 my-3">
        <%= f.label :"申請への返答" %><br>
        <%= f.text_area :return_text %>
      </div>
      <div class="col-12 my-3">
        <%= f.submit '回答をする' %>
      </div>

      <p class="dashed_line"></p>

      <div class="col-12 my-3">
        <%= f.label :"タイトル" %><br>
        <%= f.text_field :title %>
      </div>
      <div class="col-12 my-3">
        <%= f.label :"お問い合わせ目的" %><br>
        <%= f.select :category, Contact.categories.keys %>
      </div>
      <div class="col-12 my-3">
        <%= f.label :"詳細内容" %><br>
        <%= f.text_area :text %>
      </div>
    <% end %>
  </div>
</div>
