<div class="container">
  <h1>Categories#new</h1>
  <div class="row">
    <%= form_with model: @category, url: categories_path, local: true do |f| %>
      <div class="col-12 my-3">
        <%= f.label :"カテゴリー画像" %><br>
        <%= f.attachment_field :image %>
      </div>
      <div class="col-12 my-3">
        <%= f.label :"カテゴリー名" %><br>
        <%= f.text_field :name %>
      </div>
      <div class="col-12 my-3">
        <%= f.submit '新規カテゴリ登録' %>
      </div>
    <% end %>
  </div>
</div>
