<!DOCTYPE html>
<html>
  <head>
    <title>CropsCooking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrap">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark ">
          <a class="navbar-brand" href="/">
            Crops Cooking
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-auto">
              <!-- 会員側でログイン時 -->
              <% if user_signed_in? %>
                <li class="youkoso">
                  ようこそ、さん！
                </li>
                <div class="navbar-nav">
                  <li class="nav-item">
                    <%= link_to 'マイページ', account_path(current_user) %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'レシピ一覧', recipes_path %>
                  </li>
                  <li class="nav-item">
                    生産者一覧
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
                  </li>
              <!-- 管理者側でログイン時-->
              <% elsif admin_signed_in? %>
                  <li class="nav-item">
                    <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
                  </li>

              <!-- ログインしてない時 -->
              <% else %>
                <div class="navbar-nav">
                  <li class="nav-item">
                    About
                  </li>
                  <li class="nav-item">
                    <%= link_to 'レシピ一覧', recipes_path %>
                  </li>
                  <li class="nav-item">
                    <%= link_to '新規登録', new_user_registration_path %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ログイン', new_user_session_path %>
                  </li>
                </div>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>
    <%= yield %>
  </body>
</html>
