<h1>Accounts#edit</h1>

<%= form_with model: @user, url:account_path, local:true do |f| %>
  <div class="field">
    <%= f.label :"アイコン画像" %><br>
    <%= f.attachment_field :image %><br>
  </div>

  <div class="field">
    <%= f.label :"ニックネーム" %>
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :"姓" %><br>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :"名" %><br>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :"姓（ふりがな）" %>
    <%= f.text_field :last_name_kana %>
  </div>

  <div class="field">
    <%= f.label :"名（ふりがな）" %>
    <%= f.text_field :first_name_kana %>
  </div>

  <div class="field">
    <%= f.label :"紹介" %>
    <%= f.text_area :introduction %>
  </div>

  <div class="actions">
    <%= f.submit "アカウント情報を変更", class: "btn btn-success" %>
  </div>
<% end %>