<div class="container">
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="row">
      <div class="col-12 my-2">
        <%= f.label :"アイコン画像" %><br>
        <%= f.attachment_field :image %><br>
      </div>

      <div class="col-12 my-2">
        <%= f.label :"ニックネーム" %><br>
        <%= f.text_field :nickname %>
      </div>

      <div class="col-4 my-2">
        <%= f.label :"姓" %><br>
        <%= f.text_field :last_name %>
      </div>

      <div class="col-6 my-2">
        <%= f.label :"名" %><br>
        <%= f.text_field :first_name %>
      </div>

      <div class="col-4 my-2">
        <%= f.label :"姓（ふりがな）" %><br>
        <%= f.text_field :last_name_kana %>
      </div>

      <div class="col-6 my-2">
        <%= f.label :"名（ふりがな）" %><br>
        <%= f.text_field :first_name_kana %>
      </div>

      <div class="col-12 my-2">
        <%= f.label :"紹介" %><br>
        <%= f.text_area :introduction, class: "account_intoroduction_form" %>
      </div>

      <div class="col-12 my-2">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="col-12 my-2">
        <% if @minimum_password_length %>
        <em>パスワード(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="col-12 my-2">
        <p>パスワード（再確認）</p>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="col-12 my-2">
        <%= f.submit "ユーザー新規登録" %>
      </div>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>